// logo
$logo-width: 32px;

// header
$header-height: 40px;

// footer
$footer-height: 70px;

// color
$color-primary: #31C27C;

// layout-left
$layout-left-width:200px;

// layout-center
$b-layout-center-width:200px;
