$namespace: m;

// layout
$ns-layout: #{$namespace}-layout;

// layout-content
$ns-layout-content: #{$namespace}-layout-content;

// layout-left
$ns-layout-left: #{$namespace}-layout-left;

// logo
$ns-app-logo: #{$namespace}-app-logo;

// modal
$ns-modal: #{$namespace}-modal;
