$namespace: m;

// layout
$ns-layout: #{$namespace}-layout;

// layout-content
$ns-layout-content: #{$namespace}-layout-content;

// layout-header
$ns-layout-header: #{$namespace}-layout-header;

// layout-footer
$ns-layout-footer: #{$namespace}-layout-footer;

// layout-sider
$ns-layout-sider: #{$namespace}-layout-sider;

// logo
$ns-app-logo: #{$namespace}-app-logo;
