@import '../namespace.scss';
@import '../variables';

:export {
	namespace: $namespace;
  // class name
	nsLayout: $ns-layout;
	nsLayoutContent: $ns-layout-content;
	nsLayoutHeader: $ns-layout-header;
	nsLayoutFooter: $ns-layout-footer;
	nsLayoutSider: $ns-layout-sider;
	nsAppLogo: $ns-app-logo;
  // variables
  nsLayoutLeftBackgroundColor: $layout-left-background-color;
  nsLayoutLeftWidth: $layout-left-width
}
