@import '../namespace.scss';
@import '../variables';

:export {
	namespace: $namespace;
  // class name
	nsLayout: $ns-layout;
	nsLayoutContent: $ns-layout-content;
	nsLayoutLeft: $ns-layout-left;
	nsAppLogo: $ns-app-logo;
  // variables
  nsLayoutLeftWidth: $ns-layout-left-width;
  nsLayoutLeftBackgroundColor: $ns-layout-left-background-color;
  nsLayoutLeftColor: $ns-layout-left-color;
  nsAppLogoWidth: $ns-app-logo-width;
  nsAppLogoHeight: $ns-app-logo-height;
}
