@import '../namespace.scss';
@import '../variables';

:export {
	namespace: $namespace;
  // class name
	nsLayout: $namespace-layout;
	nsLayoutContent: $namespace-layout-content;
	nsLayoutHeader: $namespace-layout-header;
	nsLayoutFooter: $namespace-layout-footer;
	nsLayoutSider: $namespace-layout-sider;
	nsAppLogo: $namespace-app-logo;
  // variables

  nsLayoutLeftBackgroundColor: $layout-left-background-color
}
