@import '../namespace.scss';
@import '../variables';

:export {
	namespace: $namespace;
  // class name
	nsLayout: $ns-layout;
	nsLayoutContent: $ns-layout-content;
	nsLayoutSider: $ns-layout-sider;
	nsAppLogo: $ns-app-logo;
  // variables
  nsLayoutLeftWidth: $ns-layout-left-width;
  nsLayoutLeftBackgroundColor: $ns-layout-left-background-color;
  nsAppLogoWidth: $ns-app-logo-width;
}
