$namespace: m;

// layout
$namespace-layout: #{$namespace}-layout;
$namespace-layout-content: #{$namespace}-layout-content;

// layout-header
$namespace-layout-header: #{$namespace}-layout-header;

// layout-footer
$namespace-layout-footer: #{$namespace}-layout-footer;

// layout-sider
$namespace-layout-sider: #{$namespace}-layout-sider;
$namespace-layout-sider-sider: #{$namespace}-layout-sider-sider;

// logo
$namespace-app-logo: #{$namespace}-app-logo;