@import '../../shared/styles/index.scss'

.#{$ns-app-logo} {
  display: flex;
  align-items: center;
  height: $ns-app-logo-height;
  cursor: pointer;
  transition: all 0.2s ease;

  & img {
    width: $ns-app-logo-width;
    height: $ns-app-logo-width;
    margin: 10px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    transition: height 0.2s;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    transition: all 0.5s;
    color: white;
  }
}
